/* Upload de arquivos */
.file-drop-area {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    flex-shrink: 0;
    background-color: #9394F8;
    color: #ffffffda;
    border-radius: 0.25rem !important;
    padding: 0.75rem 1.5rem;
    line-height: 1.5rem;
    margin-right: 10px;
    font-size: 0.765625rem;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}
/* Fim upload de arquivos */

/* data tables */
.mybtn-datatable {
	background-color: #705E78 !important;
	border: 1px solid #674f72 !important;
	color: #FFF !important;
	border-radius: 3px !important;
	padding: 3px 8px !important;
	margin-right: 5px !important;
	margin-top: 5px !important;
	transition: 0.5s;
}

.mybtn-datatable:hover {
	background-color: #5C4864 !important;
	border: 1px solid #3F3144 !important;
}

.mybtndetalhes-datatable {
	background-color: #386ACE !important;
	color: #FFF !important;
	border-radius: 3px !important;
	border: 1px solid #2E57AA;
	padding: 7px 25px !important;
	transition: 0.5s;
}

.mybtndetalhes-datatable:hover {
	background-color: #2E57AA !important;
	border: 1px solid #234381 !important;
}
/* fim data tables */

/* no more tables */
@media screen and (min-width: 0px) and (max-width: 1024px) 
{
	.display-4 {font-size: 2rem;}
	.fa-sm-hidden {display: inline-block;}
	.text-sm-hidden {display: none;}
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
	display: block; 
	}

	#no-more-tables thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #EEE;}

	#no-more-tables tr td { 
	border: none;
	border-bottom: 1px solid #EEE; 
	position: relative;
	padding-left: 30%; 
	white-space: normal;
	text-align:left;
	}

	#no-more-tables.option-table tr td {
	padding-left: 5%;
	}

	#no-more-tables tr td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 28%; 
	padding-right: 10px;
	padding-top: 6px;
	white-space: normal;
	text-align:left;
	font-weight: bold;
	}

	#no-more-tables tr td:before { content: attr(data-title); }

	#no-more-tables-alt table, 
	#no-more-tables-alt thead, 
	#no-more-tables-alt tbody, 
	#no-more-tables-alt th, 
	#no-more-tables-alt td, 
	#no-more-tables-alt tr { 
	display: block; 
	}

	#no-more-tables-alt thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
	}

	#no-more-tables-alt tr { border: 1px solid #EEE;}

	#no-more-tables-alt tr td { 
	border: none;
	border-bottom: 1px solid #EEE; 
	position: relative;
	padding-left: 5%; 
	white-space: normal;
	text-align:left;
	}

	#no-more-tables-alt.option-table tr td {
	padding-left: 5%;
	}

	#no-more-tables-alt tr td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 100%; 
	padding-right: 10px;
	padding-top: 6px;
	white-space: normal;
	text-align:left;
	font-weight: bold;
	}
  
	#no-more-tables-alt tr td:before { content: attr(data-title); }
}
/* fim no more tables */